<template>
  <svg viewBox="0 0 25 25" class="w-full h-full">
    <title>Erase</title>
    <path
      id="Erase"
      d="M12.62,20.91a1.77,1.77,0,0,0,1.27-.53L24.48,9.7a1.82,1.82,0,0,0,0-2.55L17.92.53a1.82,1.82,0,0,0-2.54,0L4.79,11.21A1.81,1.81,0,0,0,4.36,13L.63,16.76a2.18,2.18,0,0,0,0,3.08l3.48,3.51A2.16,2.16,0,0,0,5.64,24H21V23H10l2.15-2.17A1.77,1.77,0,0,0,12.62,20.91ZM7.32,23H5.64a1.16,1.16,0,0,1-.82-.35L1.34,19.14a1.18,1.18,0,0,1,0-1.67l3.56-3.6,6.35,6.41L8.91,22.66a1.16,1.16,0,0,1-.82.34Z"
      fill="#000000"
    />
  </svg>
</template>
