<template>
  <svg
   class="w-full h-full"
    viewBox="0 0 12 8"
  >
    <title id="title2">next</title>
    <desc id="desc4">Created with Sketch.</desc>
    <defs id="defs6" />
    <g
      transform="matrix(-1,0,0,1,11.999001,0)"
    >
      <g transform="translate(-104,-3805)" fill="#000000" >
        <g id="icons" transform="translate(56,160)">
          <path
            d="m 59.999001,3645.8682 v 6.263 c 0,0.714 -1.145,1.122 -1.781,0.694 l -4.219,-2.685 v 1.991 c 0,0.714 -0.573,1.122 -1.209,0.694 l -4.311,-3.132 c -0.514,-0.347 -0.681,-1.04 -0.167,-1.387 l 4.478,-3.131 c 0.636,-0.429 1.209,-0.021 1.209,0.693 v 1.991 l 4.219,-2.684 c 0.636,-0.429 1.781,-0.021 1.781,0.693"
          />
        </g>
      </g>
    </g>
  </svg>
</template>
