<template>
  <svg class="w-full h-full" viewBox="0 0 12 12">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>stop</title>
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Rounded" transform="translate(-106.000000, -1044.000000)">
        <g id="AV" transform="translate(100.000000, 852.000000)">
          <g id="-Round-/-AV-/-stop" transform="translate(0.000000, 186.000000)">
            <g>
              <rect id="Rectangle-Copy-74" x="0" y="0" width="24" height="24"></rect>
              <path
                d="M8,6 L16,6 C17.1,6 18,6.9 18,8 L18,16 C18,17.1 17.1,18 16,18 L8,18 C6.9,18 6,17.1 6,16 L6,8 C6,6.9 6.9,6 8,6 Z"
                fill="#000000"
              ></path>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
