<template>
  <div
    class="bg-gray-900 flex h-full"
    :style="{
      padding: `${screenPadding.top}px ${screenPadding.right}px ${screenPadding.bottom}px ${screenPadding.left}px`,
    }"
  >
    <div
      class="grid justify-center content-start h-full w-full"
      :style="{
        gap: `${this.gap}px`,
        gridTemplateColumns: `repeat(${cols}, minmax(0, ${cellSize}px))`,
        gridTemplateRows: `repeat(${rows}, minmax(0, ${cellSize}px))`,
      }"
    >
      <div
        v-for="(cell, cellIndex) in grid"
        :key="'Cell' + cellIndex"
        class="rounded transition-colors cursor-pointer"
        :class="cell ? 'bg-gray-200' : 'bg-gray-700'"
        @click="toggleCellLife(cellIndex)"
      ></div>
    </div>

    <div class="absolute bottom-8 left-8 flex gap-4 md:gap-8">
      <button class="btn" @click="resetGrid">
        <RandomIcon />
      </button>
      <button class="btn" @click="clearGrid">
        <EraserIcon />
      </button>
    </div>
    <div class="absolute bottom-8 right-8 flex gap-4 md:gap-8">
      <button class="btn" @click="previousGeneration">
        <PreviousIcon />
      </button>
      <button v-if="!autoGeneration" class="btn" @click="StartAutoGeneration">
        <StartIcon />
      </button>
      <button v-if="autoGeneration" class="btn" @click="StopAutoGeneration">
        <StopIcon />
      </button>
      <button class="btn" @click="nextGeneration">
        <NextIcon />
      </button>
    </div>
  </div>
</template>

<script>
import debounce from '../script/debounce';

import EraserIcon from '../assets/svg/eraser.vue';
import NextIcon from '../assets/svg/next.vue';
import PreviousIcon from '../assets/svg/previous.vue';
import RandomIcon from '../assets/svg/random.vue';
import StartIcon from '../assets/svg/start.vue';
import StopIcon from '../assets/svg/stop.vue';

const LIVE = 1;
const DEAD = 0;
const MAX_GEN_TO_KEEP = 100;

export default {
  name: 'GameOfLife',
  components: {
    EraserIcon,
    NextIcon,
    PreviousIcon,
    RandomIcon,
    StartIcon,
    StopIcon,
  },
  data() {
    return {
      screenPadding: {
        top: 32, // in px
        right: 32, // in px
        bottom: 96, // in px
        left: 32, // in px
      },
      gap: 4, // in px,
      cellSize: 20, // in px
      rows: 1,
      cols: 1,
      grid: [],
      generationList: [],
      timeGeneration: 500, // in ms
      autoGeneration: false,
      intervalId: null,
    };
  },
  created() {
    window.addEventListener('resize', debounce(this.resizeWindow, 150));
    window.dispatchEvent(new Event('resize'));
  },
  mounted() {
    this.StartAutoGeneration();
  },
  unmounted() {
    window.removeEventListener('resize', this.resizeWindow);
  },
  methods: {
    StartAutoGeneration() {
      if (this.autoGeneration) return;
      this.autoGeneration = true;
      this.intervalId = window.setInterval(() => {
        this.nextGeneration();
      }, this.timeGeneration);
    },
    StopAutoGeneration() {
      if (!this.autoGeneration) return;
      this.autoGeneration = false;
      window.clearInterval(this.intervalId);
      this.intervalId = null;
    },
    resizeWindow(e) {
      const width = e.target.innerWidth - (this.screenPadding.left + this.screenPadding.right);
      const height = e.target.innerHeight - (this.screenPadding.top + this.screenPadding.bottom);
      this.cols = Math.floor(width / (this.cellSize + this.gap));
      this.rows = Math.floor(height / (this.cellSize + this.gap));
      this.resetGrid();
    },
    resetGrid() {
      this.grid = [];
      for (let cellIndex = 0; cellIndex < this.rows * this.cols; cellIndex += 1) {
        this.grid[cellIndex] = Math.floor(Math.random() * 5) === 0 ? LIVE : DEAD;
      }
      this.generationList = [[...this.grid]];
    },
    clearGrid() {
      this.grid = [];
      for (let cellIndex = 0; cellIndex < this.rows * this.cols; cellIndex += 1) {
        this.grid[cellIndex] = DEAD;
      }
      this.generationList = [[...this.grid]];
    },
    nextGeneration() {
      this.addGenerationToList(this.grid);
      const lastGrid = [...this.grid];
      const nextGrid = [...lastGrid];

      lastGrid.forEach((cell, cellIndex) => {
        const colIndex = cellIndex % this.cols;
        const rowIndex = (cellIndex - colIndex) / this.cols;

        const UP_SHIFT = -1;
        const LEFT_SHIFT = -1;
        const NO_SHIFT = 0;
        const DOWN_SHIFT = 1;
        const RIGHT_SHIFT = 1;

        const topCells = rowIndex > -UP_SHIFT;
        const bottomCells = rowIndex < this.rows - DOWN_SHIFT;
        const leftCells = colIndex > -LEFT_SHIFT;
        const rightCells = colIndex < this.cols - RIGHT_SHIFT;

        const neighboursInfo = [
          [topCells && leftCells, UP_SHIFT, LEFT_SHIFT], // UP LEFT
          [topCells, UP_SHIFT, NO_SHIFT], // UP
          [topCells && rightCells, UP_SHIFT, RIGHT_SHIFT], // UP RIGHT
          [leftCells, NO_SHIFT, LEFT_SHIFT], // LEFT
          [rightCells, NO_SHIFT, RIGHT_SHIFT], // RIGHT
          [bottomCells && leftCells, DOWN_SHIFT, LEFT_SHIFT], // DOWN LEFT
          [bottomCells, DOWN_SHIFT, NO_SHIFT], // DOWN
          [bottomCells && rightCells, DOWN_SHIFT, RIGHT_SHIFT], // DOWN RIGHT
        ];

        const neighbours = neighboursInfo.reduce((total, [cellValidity, rowShift, colShift]) => {
          if (!cellValidity) return total;
          return total + lastGrid[(rowIndex + rowShift) * this.cols + (colIndex + colShift)];
        }, 0);

        if (neighbours === 2) {
          nextGrid[cellIndex] = cell;
        } else if (neighbours === 3) {
          nextGrid[cellIndex] = LIVE;
        } else {
          nextGrid[cellIndex] = DEAD;
        }
      });

      this.grid = nextGrid;
    },
    tryGetCellValue(grid, rowIndex, cellIndex) {
      try {
        return grid[rowIndex * cellIndex];
      } catch (error) {
        return false;
      }
    },
    addGenerationToList(gen) {
      const lastGen = this.generationList[this.generationList.length - 1];
      if (this.arraysEqual(lastGen, gen)) return;
      if (this.generationList.length < MAX_GEN_TO_KEEP) {
        this.generationList = [...this.generationList, [...gen]];
      } else {
        const [, ...remainingGen] = this.generationList;
        this.generationList = [...remainingGen, [...gen]];
      }
    },
    arraysEqual(a, b) {
      if (a === b) return true;
      if (a == null || b == null) return false;
      if (a.length !== b.length) return false;

      for (let i = 0; i < a.length; i += 1) {
        if (a[i] !== b[i]) return false;
      }
      return true;
    },
    previousGeneration() {
      if (this.generationList.length < 1) return;
      this.grid = this.generationList.pop();
    },
    toggleCellLife(cellIndex) {
      this.grid[cellIndex] = !this.grid[cellIndex];
    },
  },
};
</script>

<style>
.btn {
  @apply bg-white w-12 h-12 py-2 px-3 rounded shadow-2xl transition-colors;
}
.btn > svg {
  filter: invert(21%) sepia(12%) saturate(1174%) hue-rotate(178deg) brightness(99%) contrast(86%);
}

.btn:hover {
  @apply bg-gray-700;
}
.btn:hover > svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
</style>
